    <div class="span<%= @cli[:wide] ? "9" : "10"%>">
      <div id="center-container">
            <h1><%= @page_attributes[:title] %></h1>
            <p><span class="label label-info"><%= @short_files.count %></span> parsed markdown files. </p>
            <p><%= @page_attributes[:summary] %></p>
      </div>
    </div>
  </div><!--/row -->
