  <script type="text/javascript" src="public/js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $("a").click(function(){
      var type = $(this).attr("res");
      $("#center-container").load(type);
    })
  </script>
</body>
</html>

