<script type="text/javascript" src="public/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
   $("#center-container")
   .load("chef/cookbooks/apache2/README.html")
  });
</script>
</body>
</html>
