<%  i_hash(@index_hash)
%>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">DocFace</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <div class="accordion" id="accordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Chef
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
  <div class="accordion-group" id="accordion1">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
        site-cookbooks
      </a>
    </div>
    <div id="collapse1" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="nav nav-list">
            <ul class="nav nav-list">
              <li><a href="#">apache2</a></li>
              <li><a href="#">sensu</a></li>
              <li><a href="#">riak</a></li>
              <li><a href="#">splunk</a></li>
              <li><a href="#">graphite</a></li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
      <div class="accordion-group" id="accordion2">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
            role-cookbooks
          </a>
        </div>
        <div id="collapse2" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="nav nav-list">
                <ul class="nav nav-list">
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </div>
<div class="accordion-group" id="accordion3">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
      cookbooks
    </a>
  </div>
  <div id="collapse3" class="accordion-body collapse">
    <div class="accordion-inner">
      <ul class="nav nav-list">
          <ul class="nav nav-list">
            <li><a href="#">apache2</a></li>
            <li><a href="#">sensu</a></li>
            <li><a href="#">riak</a></li>
            <li><a href="#">splunk</a></li>
            <li><a href="#">graphite</a></li>
          </ul>
      </ul>
    </div>
  </div>
</div>
      <div class="accordion-group" id="accordion4">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-di="collapse" data-parent="#accordion4" href="#collapse4">
            databags
          </a>
        </div>
        <div id="collapse4" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="nav nav-list">
                <ul class="nav nav-list">
                  <li><a href="#">apache2</a></li>
                  <li><a href="#">sensu</a></li>
                  <li><a href="#">riak</a></li>
                  <li><a href="#">splunk</a></li>
                  <li><a href="#">graphite</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </div>
                  </div>
                </div>
              </div>
              <div class="accordion-group" id="accordion5">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree">
                    Troubleshooting
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Stuff
                  </div>
                </div>
              </div>
              <div class="accordion-group" id="accordion6">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapseFour">
                    Deploy
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Stuff
                  </div>
                </div>
              </div>
            </div>
          </div><!--/.well -->
        </div><!--/span-->
